<mat-toolbar class="toolbar-container">
  <div>
    <div class="row">
      <div class="container">
        <span>Restoran Menü Sistemi</span>
        <a style="margin-left: 20px;">
            <img src="assets/restoran.png" style="width: 55px; height: 100%;">
        </a>
      </div>
    </div>
  </div>
  <span class="example-spacer"></span>
  <div class="button-container" *ngIf="userService.user != undefined">
    <button id="button1" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>settings</mat-icon>
      <span>Kullanıcı Paneli</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon>restaurant</mat-icon>
        <span>Restoranlar</span>
      </button>
      <button mat-menu-item routerLink="/favourites">
        <mat-icon>favorite</mat-icon>
        <span>Favoriler</span>
      </button>
      <button mat-menu-item routerLink="/usersettings">
        <mat-icon>account_circle</mat-icon>
        <span>Kullanıcı Bilgileri</span>
      </button>
    </mat-menu>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Çıkış Yap</span>
    </button>
  </div>
</mat-toolbar>
<!--
<mat-toolbar class="headercontainer" color="primary">
  <div>Software Engineering Projesi</div>
  <div class="button-container">
    <div *ngIf="userService.user != undefined">
      <button *ngIf="userService.user?.role === 'admin'" mat-button>Admin Düğmesi</button>
    </div>
    <button *ngIf="userService.user != undefined" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
      <span>Açılır kapanır</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <button *ngIf="userService.user != undefined" mat-button (click)="logout()">Çıkış Yap</button>
  </div>
</mat-toolbar>
-->