<div class="page-header">
    <div class="container">
        <h1><b>Kullanıcı Bilgileri</b></h1>
    </div>
</div>

<div class="container mt-5" >
    <div class="mat-card" style="opacity: 0.8; min-height: 550px;">
        <div class="row" style="display: flex; align-items: center; padding: 30px;">
            <div class="col-sm mt-3">
                <form [formGroup]="profileForm">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Ad</mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Soyad</mat-label>
                                <input matInput formControlName="surname">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput  formControlName="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Telefon</mat-label>
                                <input matInput  formControlName="phone">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Şifre</mat-label>
                                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                {{ hidePassword ? 'visibility_off' : 'visibility' }}
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label >Select an option</mat-label>
                                <mat-select formControlName="gender" value="gender">
                                <mat-option *ngFor="let gender of genderList" [value]="gender">{{ gender }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Adres</mat-label>
                                <input matInput formControlName="address">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <div class="col mb-5"  style="display: flex; justify-content: center;">
                <img [src]="imageUrl" alt="Description" width="200" height="200">
                </div>
                <div class="col mt-5" style="display: flex; justify-content: center;" >
                    <button mat-raised-button color="primary"  [disabled]="profileForm.invalid" (click)="UpdateUser(profileForm.value)">Bilgilerimi Güncelle</button>
                </div>
            </div>
        </div>
    </div>

</div>