/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-image: url('assets/arkaplan.jpg'); /* Resmin dosya yolunu belirtin */
  background-size: cover; /* Resmin sayfa boyunca yayılmasını sağlar */
  background-position: center; /* Resmi ortalamak için */
  background-repeat: no-repeat; /* Resmi tekrarlamamak için */
  font-family: 'Roboto', sans-serif; /* Fontu belirtin, eğer varsa */
}

.page-header{
    margin: 0px;
    padding-top: 10px;
    background-color: azure;
}
.page-header h1{
    padding: 20px 0px;
    margin: 0;
}
/* Add this to your component's CSS file or global styles */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black; /* Set the outline color to black */
  }
  
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thicker {
    border-width: 2px; /* Set the border thickness when focused */
  }