/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-header{
    margin: 0px;
    padding-top: 10px;
    background-color: bisque;
}
.page-header h1{
    padding: 20px 0px;
    margin: 0;
}
/* Add this to your component's CSS file or global styles */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black; /* Set the outline color to black */
  }
  
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thicker {
    border-width: 2px; /* Set the border thickness when focused */
  }